<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Development Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <a href="/">Home</a>
    <h1>Development Skills</h1>
    <ul>
        <% skills.forEach(function(t) { %>
        <li>
            <form 
                action="/skills/<%= t.id%>?_method=DELETE" 
                method="POST"
                class="delete-form"
            >
                <button type="submit">X</button>
            </form>
            <a href="/skills/<%= t.id%>"><%= t.skill %></a>
            - 
            <%= t.done ? 'done' : 'not done' %>
        </li>
        <% }); %>
    </ul>
    <a href="/skills/new">Add Skill</a>
</body>
</html>